@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    /* Background color for <Card /> */
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 90%;
    --popover-foreground: 0 0% 0%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 20%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 156 100% 35%;
    --accent-foreground: 0 0% 100%;

    /* Primary colors for <Button /> */
    --primary: 156 100% 35%;
    --primary-foreground: 0 0% 100%;

    /* Secondary colors for <Button /> */
    --secondary: 133 32% 65%;
    --secondary-foreground: 0 0% 0%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 78% 62%;
    --destructive-foreground: 0 0% 100%;

    /* Default border color */
    --border: 0 0% 80%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 0 0% 90%;

    /* Used for focus ring */
    --ring: 156 100% 35%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    /* Default background color of <body />...etc */
    --background: 249 11% 12%;
    --foreground: 0 0% 100%;

    /* Background color for <Card /> */
    --card: 249 11% 12%;
    --card-foreground: 0 0% 100%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 40%;
    --popover-foreground: 0 0% 100%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 252 6% 16%;
    --muted-foreground: 0 0% 100%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 156 100% 50%;
    --accent-foreground: 249 11% 12%;

    /* Primary colors for <Button /> */
    --primary: 156 100% 50%;
    --primary-foreground: 249 11% 12%;

    /* Secondary colors for <Button /> */
    --secondary: 133 32% 33%;
    --secondary-foreground: 0 0% 100%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 249 11% 12%;
    --destructive-foreground: 144.9 5% 90%;

    /* Default border color */
    --border: 156 100% 50%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 249 11% 12%;

    /* Used for focus ring */
    --ring: 249 11% 12%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-primary   text-foreground  leading-loose;
  }

  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  h2 {
    @apply text-3xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-medium leading-normal;
  }

  h4 {
    @apply text-xl font-medium leading-relaxed;
  }

  h5 {
    @apply text-lg font-medium leading-normal;
  }

  h6 {
    @apply text-base font-medium leading-snug;
  }
}
